[submodule "midimonitor"]
	path = midimonitor
	url = https://github.com/thammer/midimonitor.git
[submodule "circuitbender"]
	path = circuitbender
	url = https://github.com/thammer/circuitbender.git
[submodule "zoom-explorer"]
	path = zoom-explorer
	url = https://github.com/thammer/zoom-explorer
[submodule "midiclock"]
	path = midiclock
	url = https://github.com/thammer/midiclock
